.noData-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .noData-bg {
    width: 250px;
    height: 163px;
    background: url(/public/images/noData.png) no-repeat;
    background-size: 100% 100%;
  }
  .noData-text {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    opacity: 0.65;
    margin-top: 5px;
    text-align: center;
  }
}
