.menu-container {
  // width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  .menu {
    height: 32px;
    margin-left: 30px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #133361;
    color: #0a68eb;

    &:hover {
      cursor: pointer;
    }
  }
  .active-menu {
    background: #2676e3;
    color: #fff;
    border-radius: 4px;
  }
}
