.container {
  position: relative;
  width: 100%;
  height: 100%;
  .background {
    height: 100%;
    width: 100%;
    background-color: #efedee;
    background-size: 100%;
    background-repeat: no-repeat;
    .salutatory {
      position: absolute;
      width: 476px;
      height: 450px;
      top: 50%;
      right: 564px;
      transform: translateY(-50%);
      background-image: url('/public/images/login/sub_bg.png');
      color: #fff;
      span.text {
        position: absolute;
        top: 77px;
        left: 103px;
        font-size: 44px;
      }
      span.sub-text {
        position: absolute;
        top: 140px;
        left: 103px;
        font-size: 26px;
      }
    }
  }
  .form-content {
    position: absolute;
    width: 420px;
    height: 568px;
    top: 50%;
    right: 230px;
    transform: translateY(-50%);
    padding: 60px 44px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 7px 47px 0px #daf1f8;
    .title {
      color: #00aeff;
      font-size: 22px;
      font-weight: bold;
    }
    .form {
      margin-top: 90px;
      .form-button {
        width: 100%;
        height: 56px;
        font-size: 18px;
        background-color: #00aeff;
        border-radius: 4px;
      }
      .form-input,
      .form-password {
        box-shadow: 0px 0px 4px 0px rgba(7, 0, 2, 0.2);
        border-radius: 4px;
        height: 56px;
        .icon {
          color: #00aeff;
        }
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
      }
    }
  }
}
